.divWithBodyHeadbar{
    border: 2px solid white;
}

.headerDiv, 
.bodyDiv{
    margin: auto;
}

h1{
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 2rem;
}

h3{
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 1rem;
    text-align: center;
}

.checkout-preview-frame__container{
    display: flex;
    flex-direction: column;
}

.checkout-preview-frame__container > p{
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.checkout-preview-frame__wrapper{
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: var(--background-color-frame);
    border-radius: var(--border-radius);
}

.checkout-preview-frame__preview-frame{
    margin: 1rem;
    border-radius: 10px;
    width: 300px;
    height: 200px;

    background: white;
}
