.body__create-button{
    margin: auto;
}

.body__create-button button{
    background: var(--button-color);

    min-height: 2rem;
    padding: 0.2rem 0.2rem;
}

.body__create-button button:hover{
    background-color: var(--button-color-hover);
}