a{
    color: var(--text-color);
    text-decoration: none;
}

.navbar__container{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;
    align-items: center;

    padding: 0 2rem;
}

.navbar__logo{
    font-family: var(--font-family);
    font-size: 30px;
    color: var(--text-color);
}

.navbar__about{
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--text-color);

    margin-left: 4rem;
}

@media screen and (max-width: 550px){
    .navbar__container{
        display: flex;
        justify-content: center;

        padding: 0 0 0.5rem;
    }
    
    .navbar__sign-in{
        margin-right: 0;
    }

    .navbar__about{
        display: none;
    }  
}