button{
    transition-property: font-size;
    transition-duration: 0.3s;
}

.body__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 4rem;
    box-sizing: border-box;
}

.body__container__contents{
    display: inline-flex;
    flex-direction: column;
    gap: 4rem; 
}

.body__container__preview-settings-frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.body__preview-frame{
    width: 800px;
    height: 800px;
    border-radius: 10px;
    background: var(--background-color-frame);
    box-shadow: var(--box-shadow);
}

.body__settings-frame{
    width: auto;
    height: auto;
    border-radius: 10px;
    background: var(--background-color-frame);
    box-shadow: var(--box-shadow);
}

.body__settings-frame div{
    margin: 1rem 1rem;
}

.body__settings-frame__settings-material{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
}

.body__settings-frame__settings-material p{
    color: var(--text-color);
    font-size: var(--text-font-size);
    font-family: var(--font-family);
}

.body__settings-frame__settings-material select{
    font-size: var(--text-font-size);
    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--button-color);
    outline: none;
    border: 0;
    padding: 0.3rem 0.3rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
   
}

.body__settings-frame__settings-size-x{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
}

.body__settings-frame__settings-size-x p{
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--text-font-size);
}

.body__settings-frame__settings-size-x input{
    height: 1.5rem;
    width: 3rem;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--text-font-size);
    background: var(--button-color);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    
    outline: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    text-align: center;
    cursor: text;
}

.body__settings-frame__settings-size-y{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
}

.body__settings-frame__settings-size-y p{
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--text-font-size);
}

.body__settings-frame__settings-size-y input{
    height: 1.5rem;
    width: 3rem;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--text-font-size);
    background: var(--button-color);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    
    outline: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    text-align: center;
    cursor: text;
}

.body__text-frame{
    display: flex;
    flex-direction: column;
 
    justify-content: flex-end;

    align-self: stretch;
    height: auto;
    min-height: 150px;
    border-radius: 10px;
    background: var(--background-color-frame);
    box-shadow: var(--box-shadow);
}

.body__text-frame__text-output{
    flex: 0 0 150px;
    height: 100%;
    margin: 1rem 1rem 1rem 1rem; 
}

.body__text-frame__text-output textarea{
    box-sizing: border-box;
    
    resize: none;
    cursor: default;
    outline: none;

    border: none;
    border-radius: 10px;
    background: var(--background-color);
  
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem;
    font-size: var(--text-font-size);
    font-family: var(--font-family);
    color: var(--text-color);
    word-break: anywhere;
    overflow: scroll;
}

.body__text-frame__text-input{
    

    height: auto;
}   

.body__text-frame__text-input textarea{
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    outline: 0px;
    border: none;
    background-color: var(--button-color);

    font-family: var(--font-family);
    font-size: var(--text-font-size);
    color: var(--text-color);
    cursor: text;
    width: 100%;
    resize: none;
    text-align: left;

    word-break: anywhere;
    overflow: hidden;
}

.body__create-button{
    display: flex;
    justify-content: center;
}

.body__create-button button{
    font-size: var(--text-font-size);
    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--button-color);
    
    outline: 0;
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    cursor: pointer;

    min-height: 2rem;
    padding: 0.2rem 0.2rem;
}

.body__buy-button{
    align-self: stretch;
}

.body__buy-button button{
    width: 100%;

    font-size: var(--text-font-size);
    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--buy-button-color);
    
    outline: 0;
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    cursor: pointer;

    min-height: 2rem;
    padding: 0.2rem 0.2rem;
}