
.body__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 4rem; 
}

.body__container__contents{
    display: inline-flex;
    flex-direction: column;
    gap: 4rem; 
}

.body__container__preview-settings-frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

