:root{
    --font-family: "Lexend", sans-serif;
   
    --button-color: #FF8A71;
    --button-color-hover: #d6715b;
    --text-color: #FFF;
    --background-color: #565656;
    --background-color-frame: #5F5F5F;

    --text-font-size: 1.3rem;
    --box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.10);
    --buy-button-color: #3cd11aab;
    --buy-button-color-hover: #35b818ab;
    --border-radius: 10px;
}

/*button[type="button"]:hover{
    -webkit-box-shadow: 
        inset 1px 1px 10px #333,
        var(--box-shadow);

    -moz-box-shadow:    
        inset 1px 1px 10px #333,
        var(--box-shadow);
    
    box-shadow:         
        inset 1px 1px 5px #333,
        var(--box-shadow);

}*/


p{
    cursor: default;
}

.body-text-properties button, 
.body-text-properties p, 
.body-text-properties input, 
.body-text-properties textarea, 
.body-text-properties select{
    font-size: var(--text-font-size);
    font-family: var(--font-family);
    color: var(--text-color);
}

.button-properties button,
.select-properties select{
    outline: 0px;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    
    cursor: pointer;
}
